.card{
  width: 18em;
  height: 450px;
  float:left;
  margin-left: 18px;
  margin-top: 30px;
  margin-bottom: 5px;
}
h5{
  font-weight: bold;
  font-size: 20px;
}
.enrollBtn{
  width: 100px;
  height: 35px;
  font-size: 14px;
}

.enrollBtn:hover{
  background: linear-gradient(to right, #4784c5, #304ed1);
}
